[2020-04-29 13:14] megastruktur opened #1 "Add Cohort functionality"
Cohort as Item Type for Crew

[2020-04-29 13:15] megastruktur opened #2 "Add Character Class items to Compendium"

[2020-04-29 13:16] megastruktur opened #3 "Add Crew Types to Compendium"

[2020-04-29 13:16] megastruktur opened #4 "Add Crew Abilities to Compendium"

[2020-04-29 13:17] megastruktur opened #5 "Add Crew Type Upgrades to compendium"

[2020-04-29 13:17] megastruktur opened #6 "Add Crew Upgrades to compendium"

[2020-04-29 13:18] megastruktur opened #7 "Add Character Class Items to Compendium"

[2020-04-29 13:19] megastruktur opened #8 "Add Heritage Description to Compendium"

[2020-04-29 13:19] megastruktur opened #9 "Add Character Background description to Compendium"

[2020-04-29 13:19] megastruktur opened #10 "Add Vices description to Compendium"

[2020-04-29 13:21] megastruktur opened #11 "Add Crew Features description to Compendium"

[2020-04-29 13:24] megastruktur opened #12 "Add Items description to Compendium"

[2020-05-01 19:15] #3 closed

[2020-05-04 07:01] megastruktur opened #14 "Cohort Quality and Scale not updating after Tier change"
Cohort Quality and Scale not updating after Tier change, require Crew Sheet reload.

[2020-05-04 10:13] #1 closed

[2020-05-04 10:17] megastruktur opened #17 "Add Localization"

[2020-05-04 10:17] megastruktur opened #18 "Add BitD fonts and fix styles"
- Add proper fonts
- Check styles and design of layouts
- If possible test on different locales (but EN is the priority)

[2020-05-04 10:17] megastruktur opened #19 "Add Usage documentation to README.md"

[2020-05-04 10:18] megastruktur opened #20 "Add Custom Notes (item or field)"

[2020-05-04 10:38] #20 closed

[2020-05-04 12:05] megastruktur opened #22 "Modify Cohort Quality and Scale: base + mod, because there are abilities which tweak them"

[2020-05-04 12:17] #4 closed

[2020-05-04 12:20] #7 closed

[2020-05-04 12:21] megastruktur opened #24 "Add Prefix to Class Ability names"

[2020-05-04 12:34] #24 closed

[2020-05-04 12:38] megastruktur opened #26 "Discuss the Compendium: group by type or by Crew/Class"

[2020-05-04 13:15] #8 closed

[2020-05-04 13:35] #9 closed

[2020-05-04 16:35] #11 closed

[2020-05-04 16:38] #10 closed

[2020-05-04 16:39] megastruktur opened #30 "Change Traumas from Checkboxes to Items"

[2020-05-04 16:40] megastruktur opened #31 "Add XP gain cheetsheet for each class"

[2020-05-04 16:41] megastruktur opened #32 "Add Upgrade points counter for Crew and Character"

[2020-05-04 17:20] #31 closed

[2020-05-06 08:16] #12 closed

[2020-05-06 08:52] #2 closed

[2020-05-06 14:39] megastruktur opened #36 "Add Armor option to Cohort"

[2020-05-06 14:44] #6 closed

[2020-05-06 15:55] megastruktur opened #38 "Add friends-and-foes"
- Add item type
- Assign space on Character Sheet

[2020-05-07 08:30] megastruktur opened #39 "Change all numeric checkboxes/radios to be foreach of maximum"

[2020-05-08 09:04] megastruktur opened #40 "Fix CSS in all default menu"

[2020-05-08 09:38] #40 closed

[2020-05-11 08:41] megastruktur opened #42 "Add Healing Clock reset"

[2020-05-11 08:42] megastruktur opened #43 "Load selection (Light, Medium, Heavy)"

[2020-05-11 08:42] megastruktur opened #44 "Add Items popup"

[2020-05-11 08:43] megastruktur opened #45 "Buttons to add "Items" instead of Dragging from Compendium"

[2020-05-13 10:24] #45 closed

[2020-05-13 10:25] #42 closed

[2020-05-13 10:25] #44 closed

[2020-05-13 10:26] megastruktur opened #47 "Add Rules reminders"
rules reminders

    pushing yourself, devil's bargain
    teamwork
    gather information

[2020-05-13 10:31] #19 closed

[2020-05-13 10:31] #5 closed

[2020-05-13 14:04] #26 closed

[2020-05-17 14:19] fredhicks opened #48 "Character sheet notes emptied when adding ability"
When adding a new ability (possibly other items) to a given actor's character sheet, the notes in the notes tab of their sheet get blanked out.

[2020-05-17 16:25] fredhicks opened #49 "Tokens and character sheets don't pull up file upload/selection dialog for images"
Tokens and character sheets don't pull up file upload/selection dialog for images when I click on the image or file-icon button, so everything is stuck with default tokens & character images. :)

[2020-05-17 16:48] fredhicks commented on #49
Hm, okay, this appears not to work on my mac local installation, but DOES work on a hosted instance on a server. Might just be a mac permissions issue.

[2020-05-17 17:23] fredhicks commented on #49
... Or rather it did work on the hosted server for a little while, but then after I uploaded an image (checking the data directory, successfully), it started to refuse to open in-vtt file browsing dialog at all. Now I can't update character sheet image at all, and the only way I can put one on a token is by manually entering the filepath.

[2020-05-17 19:49] megastruktur commented on #49
@fredhicks I'm not sure it's BitD-related issue, but will take a look tomorrow  :)

[2020-05-18 00:54] fredhicks commented on #49
I didn't encounter the issue when working with my other world using D&D 5e, but I could entirely see it being a problem due to  the latest Foundry update. Best of luck on the bug hunt!

[2020-05-18 13:56] megastruktur commented on #48
Tested today on a fresh 0.5.7 installation and can not reproduce the issue, everything seems to be fine.
First I've added "Notes", then dropped several Abilities, Items, removed and added back Heritage. Seems like I don't have any issue.

@fredhicks Can you please check one more time?  :)  Also make sure you don't have any errors in Browser Console (press "F12"). If you have any - post them here p

[2020-05-18 14:01] #49 closed

[2020-05-19 15:16] fredhicks commented on #49
I haven't updated the module yet, but I wanted to capture here the console message I get under the prior version when I click on an image icon or file-dialog button; I'll let you know if it persists after update --

blades.js:67 Uncaught (in promise) TypeError: options.fn is not a function
    at Object.<anonymous> (blades.js:67)
    at Object.c (handlebars.min.js:27)
    at eval (eval at createFu

[2020-05-19 15:19] fredhicks commented on #49
Confirmed, that appears to have done it!

[2020-05-19 15:38] fredhicks commented on #48
After updating the module, I'm still having the problem happen, and there aren't any errors showing up. I did notice one interesting thing — if the note I put in the note field is pretty short, e.g., "Test", then it seems to persist just fine through me adding and removing items from a character's loadout (as one example). But when I go in there and expand it to "Test test test test test test test

[2020-05-19 15:41] fredhicks opened #51 "Dice rolling macro"
Don't know if it helps, but here's the javascript for a fairly robust script macro for rolling Blades style dice. Saw you had dice rolling as a pending feature, so figured I'd share in case it's of any use. Forgive any bad coding practices and the delivery method for this, I am rusty as a coder, learning javascript on the fly, and am not yet github savvy. :)

https://www.dropbox.com/s/vc6z32qwrq3i

[2020-05-20 09:51] megastruktur commented on #51
Thanks! I will take a look  :)

[2020-05-20 09:53] megastruktur commented on #48
@fredhicks Yep, you got it right, I was able to replicate the issue. Now working on the fix.

[2020-05-20 09:59] megastruktur commented on #48
The problem description: field is not saved when "Add Item" popup re-renders the Actor entity.

[2020-05-20 10:05] megastruktur commented on #48
Whoops seems like a FoundryVTT issue (I was able to reproduce the same behavior with simpleworldbuilding system). I will contact Foundr staff.

@fredhicks for the time being you can save the value by closing the character sheet. This will work  :)

[2020-05-20 11:55] #48 closed

[2020-05-20 21:33] megastruktur commented on #48
@fredhicks I made a fix, you can try it (0.5.2)
Next Foundry update should fix this issue globally.

[2020-05-22 17:35] megastruktur commented on #51
@fredhicks Started working on Dice rolling. Will use parts of your script  :)

[2020-05-22 17:46] fredhicks commented on #51
Rad! Hope it proves to be of use. :)

[2020-05-25 16:02] #51 closed

[2020-07-14 15:53] dunderjester opened #54 "Ask for position and effect when rolling an action"
It's a good reminder because I find it's frequently forgotten. Bonus points if the chat output is a clickable entity that can expand to the rules of the chosen position and effect.

[2020-07-14 16:10] AlexTsr opened #55 "Ability to filter items (abilities, upgrades, etc)"
It would make life much easier--especially for new players--to be able to filter items by class/crew. You can kind of do that when viewing the entries at the compendium where there's a search box and you can search for the prefix but that's missing from the pop-up you get at the actor sheet. Also, clickable pre-defined filters would be sweet.

[2020-07-15 08:06] megastruktur commented on #54
Hey @AlexTsr , can you please describe the situation with example?  :)

[2020-07-15 08:09] megastruktur commented on #55
I will see what I can do!
By the way, there is a Comunity Module called **Search Anywhere**. It helps to quick search through "items" (all in-game entities) with filters and etc.

[2020-07-15 09:22] AlexTsr commented on #54
Sure. What I mean is similar to how it's handled in the roll20 sheet. When you click to roll an action, let's say Skirmish, you get three prompts

- position (controlled, risky, desperate),
- effect (limited, standard, great),
- bonus dice

This information is added on the chat message:
![Screenshot_2020-07-15 Test Roll20(3)](https://user-images.githubusercontent.com/2073233/87527471-76425080-c68c

[2020-07-30 20:40] AlexTsr opened #59 "Rolling with 0d regression?"
It used to keep the lowest roll as expected at least on the 0.6.1 version of this system, but after one of the last updates this seems to have broken and now it keeps the highest result.

[2020-07-31 09:22] megastruktur commented on #59
Yeeeah seems like I broke something. Will fix it today  :)

[2020-07-31 09:33] #59 closed

[2020-07-31 14:05] Lavncelot opened #61 "Броски Сопротивления"
Броски атрибутов выдавать значениями, а не успехами

[2020-08-03 13:57] Cododoc commented on #17
Can you add localization support to templates. I think community can help you with translation.

Another way, give users permission to edit all text and save it. GM or players can change labels and descriptions one time and use it in the game.

[2020-08-03 19:07] megastruktur commented on #17
Hey @Cododoc , sure thing, I just need to see how to translate items.
There is a module Babel, which helps doing it. So I take a look.

Will try to start this week  :)

[2020-08-04 14:58] megastruktur commented on #17
Good day, sir @Cododoc !
Can you please take a look and test Localization changes at `development` branch?
Items are still not Localized (will take some time because of the additional module) but everything else should be ok.

[2020-08-04 21:06] Cododoc commented on #17
@megastruktur Thank you. I checked it. I added translation file with small fix and changed languages settings:
[code]
It is looks like it work. I found that attributes localization not ready yet. Hope, it will not to hard to localize it.

[2020-08-05 08:12] megastruktur commented on #17
@Cododoc attributes are localized, however there is a *small* problem. You need to recreate the Character  :)
I will write a migration today so all characters will be updated and make a new version.

Can you please check the layouts with russian? Also it would be awesome if you can create a pull request (from/to `development` branch) with russian translation including fonts (русские шрифты в фаунд

[2020-08-05 10:06] Cododoc commented on #17
@megastruktur Ok. I will test layouts and fonts at friday.

[2020-08-05 11:44] #17 closed

[2020-08-05 12:05] Cododoc commented on #61
@Lavncelot
Используйте пожалуйста Английский язык для общения. Так будет выше вероятность, что вас пойму и помогут.
Данная функция уже реализована: [https://github.com/megastruktur/foundryvtt-blades-in-the-dark#rolls](url)
Это то, что вы имели ввиду?

Same in English >>>

Please use English for communication. There is more chance that community understand you and can help.
This function has alread

[2020-08-05 12:21] megastruktur commented on #61
@Cododoc привет!
Мы обсудили с @Lavncelot эту фичу и я сказал, что он может создать issue на любом языке, это просто напоминалка для меня  :)

@Lavncelot Но я вот сейчас перечитал и могу сказать, что это недопонимание в правилах и обсуждение поздней ночью  :)
Бросок на резисты не всегда успешен. Поэтому у нас есть и значения, и результат. Так что я закрою тикет пока что.

[2020-08-05 12:21] #61 closed

[2020-08-05 13:44] #43 closed

[2020-08-05 13:46] megastruktur commented on #30
Maybe later.

[2020-08-05 13:46] #30 closed

[2020-08-05 13:48] #54 closed

[2020-08-20 14:44] r-valyar opened #66 "Add Fortune roll & Engagement category"
Some rolls are fortune rolls and are not against position/effect. I suggest to add this as dropdown during skill/attribute roll and also as part of the "Dice Roll" menu from the desktop.

Allowing negative dice on those rolls will facilitate situations such as Indulge vice rolls with zero dots in the respective attribute.

Fortune and Engagement labels are for better reporting in the chat.

[2020-08-20 14:48] r-valyar opened #67 "[Bug] Turf is added automatically when non-turf granting claim is selected"
On the crew claim's map, when claim that is not turf is selected (such as "Loyal Fence" for Shadows), a turf flag is marked automatically, while it shouldn't. Turf claims are specified as turfs and other claims do not add to the turf flags.

![turf](https://user-images.githubusercontent.com/63558984/90787396-59451100-e30d-11ea-9525-72c2be76629b.jpg)

[2020-08-21 09:42] #67 closed, assigned to nobody

[2020-08-24 12:18] megastruktur opened #68 "Traumas as Inputs"
Make Traumas as Inputs instead of checkboxes/labels.

This will help to:
- Track Traumas as Ghost/Hull
- Create custom Traumas

[2020-08-24 12:25] megastruktur opened #69 "[Item Logic] Re-Add items when the item is removed"
Remove and Re-add ALL items, when the item is removed to implement logic of all remaining items.

OR recalculate somehow. Make not that recalculation won't work with `attribute_change` because some other Item can override and "attribute_change" will return the attribute value to default one.

[2020-08-24 12:31] megastruktur opened #70 "[Compendium] Add Ghost, Hull and Vampire traits"
- Add Traits to `Abilities` compendium (the Easy way)
OR
- Create `Traits` compendium (the Hard way)
- Make sure to include `Traits` to all code checks with the same logic as `Abilities`

[2020-09-01 09:54] r-valyar opened #71 "[Bug] Removal of dice icons next to Insight/Prowess/Resolve causes each check to reset XP counters"
The last update removed the dice icon next to Insight/Prowess/Resolve. The dice was used to roll each of the stats, but now clicking the stat name also resets the XP flags.

[2020-09-01 12:51] megastruktur commented on #71
Thanks @r-valyar , I will take a look tomorrow. There were significant changes in the system so I'm afraid I could break something.

Can you please try to create a new Character and see whether the problem still present?

[2020-09-01 12:53] r-valyar commented on #71
Yes, this happens also to new characters. Clicking each of the attributes resets the XP counter.

[2020-09-02 08:18] #71 closed

[2020-09-04 07:05] WallaceMcGregor opened #72 "[Cohorts] Missing Descriptions"
Hi.

I found a small error in the sheet. The descriptions of some things in the Cohorts are missing. In the translation file, the "BITD.GangTypeXXXDescription" elements are not even there, but the BITD.EdgesXXXDescription are.

![FoundryVTT_2020-09-04_09-04-22](https://user-images.githubusercontent.com/17795541/92209711-c324f500-ee8d-11ea-84ea-a470c408bc52.png)

[2020-09-04 07:48] WallaceMcGregor opened #73 "Atributte rolls"
It would be nice if Attribute rolls had the template of the **Resistance Roll**, which adds stress depending on the result. If it automatically added the stress with the result, it would be great.

[2020-09-04 14:04] megastruktur commented on #72
FIxed in 2.2  :)

[2020-09-04 14:04] #72 closed

[2020-09-05 07:05] r-valyar opened #75 "[Bug] Game system does not update automatically"
Since 2-3 releases I noticed that the game system does not update automatically when new version is out. I have 2.1 and when I check for update, Foundry reports as updated. Which is not the case, as 2.2 is already out and visible in the "Install game systems" list. In Discord it is mentioned that the fix has to be done here on manifest side.

![Annotation 2020-09-05 100447](https://user-images.git

[2020-09-07 09:46] megastruktur commented on #75
Hey @r-valyar ,
Maybe that's a kind of cache issue of some kind? I have all updated at my end:
![image](https://user-images.githubusercontent.com/2911416/92374227-1c985880-f108-11ea-882d-5c9856bfc2c0.png)

Which Foundry version do you have?
Can you backup your world Data and reinstall the system?

[2020-09-07 15:31] r-valyar commented on #75
Hi, @megastruktur

The system version was 2.1 even after check for update. When I uninstall and re-install all is good. The update does not work.

I am using Foundry 0.6.6 from the Stable release branch.

[2020-09-11 23:06] philote commented on #75
I am seeing the same thing on Foundry VTT 0.6.6.
My Blades Game System is a 2.0, if I click update foundry says it is up to date.

[2020-09-11 23:33] philote opened #76 "[Bug] Delete button for abilities and loadout not working correctly"
When I try to delete items from a character sheet, under the Abilities and Loadout tabs, the list flashes but the items are not removed most of the time. However if I refresh the browser window, the items are gone. Odd thing of note, if I open Chrome's dev tools with the Console the delete works slightly more reliably, though the last item in the list never gets removed (unless I refresh). Let me

[2020-09-16 06:08] WallaceMcGregor opened #77 "Make Skills responsive"
Hi

I've seen a little bug when I select Spanish. Skills are not responsive and they are covered by the XP buttons.

![BitD Foundry Bug](https://user-images.githubusercontent.com/17795541/93298542-ad032700-f7f3-11ea-9a67-a3d744743275.png)

[2020-09-16 06:11] WallaceMcGregor opened #78 "[Suggestion] Compendium translation"
Hi

A member of the Spanish community have translated the Compendiums (the .db files). Is there a way to implement them on your own sheet like my translation? Or we have to make something different?

Thanks

[2020-09-16 07:47] megastruktur commented on #75
Seems like it's the issue with 0.6.x versions. I'm on a 0.7.1. Gonna restrict < 0.7.x from next release because there was a significant refactoring done on FoundryVTT side and I won't be able to support legacy  :(
If anybody can confirm it works on 0.7.x?

[2020-09-16 07:47] #75 closed

[2020-09-16 07:52] megastruktur commented on #78
Hey!
This bothers me for quite a long time as there is no API to translate Compendium.
There is however a module called Babele (https://foundryvtt.com/packages/babele/) which allows the translation. Better to take a look there.
I will however research that issue, maybe I find some workaround.

[2020-09-16 07:53] megastruktur commented on #77
Oh that's quite a bug. Gonna take a look.

[2020-09-16 08:42] WallaceMcGregor commented on #78
Hi

I usually use Babele for the Compendiums, but this guy translated the .db directly. That's why I was asking you if there was a way to incorporate them directly into your sheet so you don't have to install another module (besides the translations) and take profit of their work. If it's not possible, I will do it with Babele.

Thanks a lot

[2020-09-16 08:53] megastruktur commented on #78
Sorry bro, I hate when the work done can not be used but... This is the case. I can include these db files to manually swap the Compendium but that's all I can do for now. I wish it could be a requested feature for future releases but nooooo, they need some hacks to hide/display fog of war in some specific cases  :D

So yes please, if you could make a Babele translation I can help you to fix if so

[2020-09-16 08:53] #78 closed

[2020-09-16 13:27] warlord29a opened #79 "I make the translation of the compendium to Spanish"
Hello, I have translated the compendia into Spanish using the official translation of the publishing house "Nosolorol". I send you the files in case you want to include them, I don't understand much of these things so I have directly edited the .db files. Regards.

[Blades in the dark traducción español.zip](https://github.com/megastruktur/foundryvtt-blades-in-the-dark/files/5232445/Blades.in.the.

[2020-09-16 13:37] megastruktur commented on #79
Hey bro!
Yeah, @WallaceMcGregor had contacted me regarding your translation several hours ago. Unfortunately there is no way I can use translated db files (the FoundryVTT system doesn't have tools for that, you can swap them manually in your installation if you wish though).
Wallace is going to make a Babele translation (it's a third-party module which allows compendium translations) and I hope he

[2020-09-16 13:37] #79 closed

[2020-09-16 18:33] colinm-omnifederal opened #80 "Text for partial success / failure always shows desperate text"
blades-roll.html is expecting "controlled" or "risky" as the position:

[code]

However, blades-roll.js is passing in the localized key:

[code]

So the result is that there is never a match and it always shows the default (desperate) text.

[2020-09-17 07:22] megastruktur commented on #77
Okay. I've managed to take a look and what I'm going to say: making text responsive breaks the overall look.

@WallaceMcGregor Could you please help me and make skill names shorter? Something like "PRESP." and "VOLUN." so that it will be readable. I will add them to translation.

[2020-09-17 07:29] megastruktur commented on #76
Managed to reproduce the bug. Will investigate!  :)

[2020-09-17 07:29] WallaceMcGregor commented on #77
Ok. It is not the most "fancy" thing, but if there is no other option you can use: "PER.", "DES." & "VOL.".

[2020-09-17 08:01] #76 closed

[2020-09-17 08:01] #77 closed

[2020-09-17 12:59] Malfhast commented on #80
{{#if (eq roll_status "partial-success")}}
  <div class="die {{roll_status}}">{{localize "BITD.RollPartialSuccess"}}</div>
  <div class="description">
    <p>
      {{#if (eq position "BITD.PositionControlled")}}
      {{{localize "BITD.RollPartialSuccessPositionControlled"}}}
      {{else if (eq position "BITD.PositionRisky")}}
      {{{localize "BITD.RollPartialSuccessPositionRisky"}}}
      {{e

[2020-09-17 22:57] colinm-omnifederal commented on #80
That's what I did too. When I'm less busy I'll put in a merge request if you don't beat me to it. =P

[2020-09-17 23:36] Malfhast commented on #80
And yes, i'd changed something else, not only "Blades-roll.htlm" but : "blades-in-the-dark/lang/en.json" ->
[code]

![image](https://user-images.githubusercontent.com/70017830/93538783-472bb200-f94f-11ea-97b6-7f6fb927cc26.png)

theses ones : "BITD.RollFailurePosition" to "BITD.RollFailurePositionDesperate"

[2020-09-18 14:12] megastruktur commented on #80
@colinm-omnifederal  @Malfhast Sorry guys, I'm sooo busy this week, gonna review and add it to 2.4 on the weekend  :)

[2020-09-18 16:07] Malfhast commented on #80
No problem @megastruktur I even translated your code in french for my part.
and from what I saw ; It's pretty good ! ^^ good job

[2020-09-21 11:54] #80 closed

[2020-10-04 13:35] OctarineSourcerer opened #81 "Traumas borked"
- Create a new actor. It seems to start with one trauma (one tooth is red on the sheet).
- Put new pips in ANYTHING multibox - be it coins, a skill, skill XP... and traumas will appear to max out.
- Clicking a trauma in the list flashes it red, and then it immediately reverts.

As far as I can tell, the trauma-boxes-maxed is an issue with the `traumacounter` handlebars helper. Change `var count =

[2020-10-06 10:27] megastruktur commented on #81
Hi @OctarineSourcerer , I will take look, thanks!  :)

[2020-10-06 10:40] megastruktur opened #82 "Add Clocks"
Right now there is no "Clocks" module available at FVTT.
The task is to create an extension to Blades system with clocks support. Possibly add a new menu.

Clocks should have:
- Name
- Clock Entity
- User should be able to open several Clocks at a time

https://thealexandrian.net/wordpress/40424/roleplaying-games/blades-in-the-dark-progress-clocks - can be helpful

[2020-10-06 12:08] drxzcl opened #83 "Playbook XP and others get applied to most first opened character, not clicked character"
Steps to reproduce:

1.  Open character sheet 1
2.  Open character sheet 2
3.  Click on character sheet 2 to add playbook XP
4.  See that is it added to character sheet 1 instead

This is with the current version installed, version 2.4

Other affected values:
* Stress
* Stash
* Coin
* Healing clock
* Insight/prowess/resolve XP
* Traits (hunt, study etc)

Not affected:
* Trauma
* Armor
* Harm

[2020-10-17 14:57] SolarBear opened #84 "Foundry 0.7.4: BitD system causes an exception at startup"
I understand 0.7.4 is not supported yet, just consider this as a heads-up. :) You might already be aware of this.

Updating to 0.7.4 this morning, I ended up with the following exception while launching Foundry:

[code]

I quickly found [a fix on Foundry's Discord](https://discord.com/channels/170995199584108546/765691837938663484/765962667721883659) and now I simply get the following error, which

[2020-10-18 07:49] megastruktur commented on #84
Hey @SolarBear  bro, I've just checked it on a fresh 0.7.4 with installing Blades from scratch - everything works fine. Do you have the latest Blades version installed (2.4)?  :)

[2020-10-18 07:54] megastruktur commented on #83
Wow quite a bug. Just reproduced it myself. Gonna investigate  :D

[2020-10-18 10:21] megastruktur commented on #81
Ah that's the issue of a new FVTT version. Gonna make an update with Blades 2.5

[2020-10-18 10:59] #81 closed

[2020-10-18 10:59] #83 closed

[2020-10-19 00:38] SolarBear commented on #84
Huh. Strangely enough, I don't... and yet I do. It seems I have an old version but Foundry tells me there's no update to the system. I could investigate this all night oooooooorrrrrrrrrr simply remove the system and reinstall from scratch.

Nothing to see here, folks, move along! ;)

[2020-10-19 00:38] #84 closed

[2020-10-20 03:28] thadrine commented on #68
Trauma does not work in 0.7.4.
If you click any Trauma it auto-fill all Trauma boxes, and no longer highlights the Trauma selected.

[2020-10-20 03:32] thadrine opened #85 "There is no Prison Crew"
Can you add the Prison Crew sheet?

[2020-10-20 05:40] megastruktur commented on #85
Hey, where did you find that one? I can't see it in the SRD.
I can not add features from non-open (paid) materials.

By the way, you can add a new crew type yourself.  :)

[2020-10-20 05:45] megastruktur commented on #68
@thadrine I've fixed that issue in Blades v. 2.5. Please make sure you use the latest version of the game system  :)

[2020-10-20 05:45] #68 closed

[2020-10-20 08:10] r-valyar commented on #82
I would push this one in high priority, clocks are key part of the meta-game in Blades! :)

[2020-10-20 14:13] thadrine commented on #85
It is in the core book and on the download page.
https://bladesinthedark.com/sites/default/files/sheets/blades_sheets_v8_2_Prison_Claims.pdf

[2020-10-20 14:16] thadrine commented on #68
Ok, any idea why Foundry will not update it beyond 2.4?

[2020-10-20 20:18] megastruktur opened #86 "Not able to upgrade"
Several people reported they couldn't upgrade from prev. versions: they just didn't have an option to upgrade.
Investigate wtf.

[2020-10-20 20:19] OneProudBavarian opened #87 "Cohort Type Bugs Out"
[This gif showcases](https://user-images.githubusercontent.com/73198170/96639605-40170b80-1322-11eb-9116-9fdcfb9a264f.gif) that the cohort type interface bugs out on my end when selecting anything in its sheet.
The cohort type section will entirely disappear.

Keep up the amazing work!

We are on 0.7.4 of Foundry and 2.5 of BitD!

[2020-10-20 20:21] megastruktur commented on #87
Gonna take a look tomorrow! Looks like I know what's wrong there.

[2020-10-20 20:22] megastruktur commented on #68
@thadrine I've created a new issue for that. Thanks for the feedback! Will take a look tomorrow.

[2020-10-26 13:32] drxzcl commented on #86
I installed from the menu in Foundry, and my system.json is linked hard to the 2.4 version:

https://raw.githubusercontent.com/megastruktur/foundryvtt-blades-in-the-dark/2.4/system.json

This ensures that i never see the upgrade.

[2020-10-26 14:20] megastruktur commented on #86
@drxzcl the thing is that I add new versions through foundry Module Admin area. I specify all versions there with absolute paths. Previously it handled update automatically (Foundry re-downloads the whole system code dir with the new system.json if your installed version is different from the latest one and your Foundry installation meets version requirements).
Which FVTT version do you have?

[2020-10-26 14:28] megastruktur commented on #86
By the way with FVTT 0.7.4 updating works fine. Just tested it on my local machine.

[2020-10-26 15:14] drxzcl commented on #86
I upgraded Foundry from 0.6.6 (no upgrade visible) to 0.7.5 (still no upgrade visible). After it edited my system.json to point to the 2.5 system.json I could upgrade without problems. I'm not sure how the admin area works.

[2020-10-28 17:00] dankrause commented on #85
@thadrine - this is not a crew sheet, it's just a prison claim sheet. However, @megastruktur - it is part of the SRD, and would be useful for tracking prison claims. It would make the most sense to add it as a tab to crew sheets.

[2020-10-28 17:01] dankrause commented on #85
It's right here in the SRD: https://bladesinthedark.com/heat

[2020-10-28 17:23] dankrause commented on #86
The reason upgrading isn't working properly is here:

https://github.com/megastruktur/foundryvtt-blades-in-the-dark/blob/master/system.json#L34

@megastruktur - Take a look at how other systems do this:

- [DnD5e](https://gitlab.com/foundrynet/dnd5e/-/blob/master/system.json#L97)
- [Dungeon World](https://gitlab.com/asacolips-projects/foundry-mods/dungeonworld/-/blob/master/system.json#L306)
- [Fa

[2020-10-29 09:08] drxzcl commented on #86
@dankrause You can also bump the version number on the 2.4 branch. This will prompt an upgrade.

[2020-10-29 11:13] #86 closed

[2020-10-30 10:58] #87 closed

[2020-11-03 13:46] #82 closed

[2020-11-11 11:08] SomeOldPirate opened #89 "Unable to reset clocks"
I'm currently unable to reset any of the clocks in game, including the healing clock on the character sheet.  Clicking the reset button completely fills the clock instead of emptying it.  Using BitD 2.9 and Foundry 0.7.6.

[2020-11-11 14:48] megastruktur commented on #89
@SomeOldPirate oh yeah bro, I'm aware of this bug  :(
This happens in Chrome (Firefox works fine). Gonna investigate it as soon as I have some time  :)

[2020-11-12 09:13] #89 closed

[2020-11-29 01:08] supernovajm opened #91 "Unable to select more than 1 Edge/Flaw"
When I select the first Edge/Flaw, it takes 2 clicks, then turns red. But clicking any additional options deselects the first choice.

![capture-2020-11-28_20 06 37](https://user-images.githubusercontent.com/24704061/100529414-77949580-31b5-11eb-9cba-ecfebeb90b75.gif)

[2020-12-03 11:10] LorduFreeman opened #92 "Can't add clocks"
No actor type "clock" is showing when trying to create a new actor. Just character and crew.

[2020-12-03 12:27] megastruktur commented on #92
Hey bro,
can you please make sure you have the latest version of Blades system (2.10), FoundryVTT version >0.7.2.

[2020-12-03 12:37] LorduFreeman commented on #92
![image](https://user-images.githubusercontent.com/72170114/101018821-5c86a480-356c-11eb-87ae-986adb6c1ea5.png)

That was it, my system showed Blades 2.5 as current and updated. Did you change something like the manifests location? Reinstall fixed this.

[2020-12-03 12:41] megastruktur commented on #92
@LorduFreeman  there was an issue with update, I've fixed it in `2.6` release  :)

[2020-12-03 12:41] #92 closed

[2020-12-23 12:47] BitforceRevelator opened #94 "Sheet for tracking "Faction Status""
Hey guys

I think it would be helpful to have a sheet where you can track the Faction Standing (Reputation) with other factions. This sheet is already available in the SRD player handout.

[2020-12-25 16:12] BitforceRevelator opened #95 "Bug when selecting turf connections for custom crew"
When I try to create new custom crew, and I want to set the turf connections via the checkboxes, I can't set any of them to true, they will instantly deselect.

[2020-12-25 16:13] BitforceRevelator opened #96 "Add favorite operation types"
Crews have favorite operation types and hunting grounds. But they are not represented on the character sheet.

[2020-12-25 16:19] BitforceRevelator opened #97 "Add vaults to crew sheets."
So far the crew sheet can only store 4 coin, if you upgrade your "vault" however, you should be able to store 8-16 coins.

[2020-12-25 16:19] #97 closed

[2020-12-25 16:30] BitforceRevelator commented on #95
This may be related to Issue #91, as it seems to behave similarly.

[2021-01-04 14:02] megastruktur commented on #91
FoundryVTT doesn't know that checkboxes can get the actual value instead of just boolean. Previously I'd added custom validators but now it won't work. Gonna invent something again.

[2021-01-04 14:44] megastruktur commented on #95
@BitforceRevelator Yeah you're right, these issues are connected however it's easier for you to just copy the existing one and edit connections through text editor than to fix it.  :D

I will think about it tomorrow. Maybe I'll find a way to overcome.

[2021-01-04 14:48] BitforceRevelator commented on #95
I tried to do it via editing the text, and setting the values to TRUE; but it did not work.

[2021-01-04 15:25] #91 closed

[2021-01-04 15:25] #95 closed

[2021-01-05 06:56] megastruktur commented on #94
@BitforceRevelator I think it's a nice idea! Can you please post me a link to that doc here? Or better an image of that particular Faction Standing page.

Sorry, I do all the work on the system alone so there can be delays  :D

(_Anyway I'll mark that on as a "Good first issue". Maybe that'll inspire someone to take a look and make a PR_)

[2021-01-05 06:58] megastruktur commented on #96
@BitforceRevelator Do you have any suggestion/example on how can this be implemented on the current sheet?

[2021-01-05 12:08] BitforceRevelator commented on #94
Here you go: https://bladesinthedark.com/sites/default/files/blades_playerkit_v8_2.pdf

[2021-01-05 12:09] BitforceRevelator commented on #94
It also includes the Prison Claims table btw.

[2021-01-05 12:19] BitforceRevelator commented on #96
Maybe a separate text field where we can fill in the Hunting Grounds, and a drag and drop field for the Preferred Job Method?
That would require adding preferred job methods for each crew though.

https://bladesinthedark.com/sites/default/files/blades_playerkit_v8_2.pdf

Check the Crew Sheets for reference, in the lower middle column, they basically give you a free text field for the Hunting Groun

[2021-01-09 21:28] JiDW opened #98 "Dice So Nice! not showing to other players (fix included)"
Hello!

I'm the author of the 'Dice So Nice' module. First, I'd like to thank you for implementing DsN into your system!

One player of your system sent me a report related to DsN that prevents other players from seeing rolls on their screens. Only the player rolling the dice can see them.

After a quick check, it appears to be caused by the use of the "showForRoll" method in this file: https://gi

[2021-01-11 07:57] megastruktur commented on #98
@JiDW hey!

Thank you for your feedback and investigation  :)  I gonna take a look.

[2021-01-11 08:52] #98 closed

[2021-01-17 01:04] daynyxx opened #99 "Add options for Flame without Shadow"
I'm not sure if this is possible (for legal reasons. idk what blades allows and doesn't allow regarding supplements), but a character sheet for the classes added with this supplement would be good along with the abilities and items. I can't find what the licensing is for this supplement specifically.

[2021-01-17 01:57] daynyxx commented on #99
I think the hardest part would be deciding what the design for the Mandate and Imperative

[2021-01-17 19:26] daynyxx commented on #99
I'm going to move this to a it's on module. It makes sense to be it's own thing

[2021-01-17 19:26] #99 closed

[2021-01-31 14:26] TokeVFA commented on #94
If all the factions are ever created as series of Faction 'Actors' this might come in handy as well:
https://bitd.gplusarchive.online/2017/05/12/faction-tokens/
These are some hexagonal Faction 'tokens' with the starting tier of the factions printed on them.

My reasoning behind implementing Factions as an actor or item type is to be able to link more notes, and tokens to them if need be.

[2021-02-17 18:12] Gazook89 opened #100 "Tooltips in Character Sheet lose alignment"
Just firing up BitD on Forge-VTT for the first time and noticed that the tooltips on at least the items window seem to lose alignment with their icons if the window is scrolled at all.  Here is a screenshot when scrolled to the very top of the window, where it is normal:
<img width="606" alt="image" src="https://user-images.githubusercontent.com/58999374/108247881-d6184280-7118-11eb-8f17-fac3ce663

[2021-03-03 22:51] cyberdwarf1664 opened #104 "Loadout selector"
It could be pratical to have a selector for the loadout to remember, during a score, your inital choice and the total of loadout allowed

[2021-03-22 18:57] DarkWizarD24 opened #106 "Documentation on the SCSS compilation"
Is it possible to provide an example on how to update the css ?

[2021-03-23 06:40] megastruktur commented on #106
Hey @DarkWizarD24 ,
sure this is pretty easy: you can use the "sass" utility: https://www.npmjs.com/package/sass
Then just make all necessary changes inside scss files (style.scss) and after that execute something like this in scss dir:
`sass style.scss ../styles/blades.css`
So that css file is created. And commit both css and scss changes.

[2021-03-23 06:40] #106 closed

[2021-03-24 10:37] DarkWizarD24 commented on #18
The main font that is missing is Kirsty. However, licence for using it on the web forbid its usage in our use case. I do not found any font that look the same, have an adapted licence and support other languages than english.

FoundryVTT comes with Modesto Condensed, it could be a good font to improve the style without licensing issues.

[2021-04-19 18:38] justinross commented on #18
Does the license prevent its use in modules like this? Looking at the license on Font Squirrel, I'm not seeing anything that would prevent it: https://www.fontsquirrel.com/license/kirsty

It says you can't "combine fonts into a single archive", but that kind of language is usually for prohibiting people assembling font packs.

Anyway, hope this doesn't sound argumentative. Just wondering if there'

[2021-04-20 09:17] DarkWizarD24 commented on #18
I found out that the current version of the font (version 5) is has a more restictive licence than the one you found (version 2).

We can use the font you linked but not the last version that is found for example on dafont.com or typodermicfonts.com.

[2021-04-20 17:29] justinross commented on #18
Oh nice. That seems like it'd be sufficient. Though, you're right that Modesto Condensed looks pretty great, too.

[2021-04-22 11:35] #104 closed

[2021-04-28 15:36] fpiekert opened #109 "German translation"
Hello there!

I startet a german translation (de.json from the lang-folder) and want to test it. How do I acitvate it? I can get ie spanish to work but simply putting the german translation into the lang folder doesn't seem to work. Sorry for my bad coding skills!
warmest wishes, Fabian.

[2021-04-28 22:46] justinross commented on #18
Okay, so, I made a fork and started with adding the fonts to the repo, then got started with implementing them, and now I've gotten carried away and have started on redoing the layout of the character sheet. So far, I've just done basic implementations of most of the basic fields, but I'm starting to get into areas where knowledge of Foundry would be useful, and conversations should probably be ha

[2021-04-29 07:31] megastruktur commented on #18
Hey @justinross , I think you could ask for help in Foundry Discord channel, Blades room. I wish I could help but unfortunately I haven't yet played Blades even once so I can't judge the UI  :(  Then when you have some work done just create a Pull Req, I will merge your changes if the community accepts your layouts  :)

[2021-04-29 07:32] megastruktur commented on #109
Hey @fpiekert !
You need to do 1 more thing: edit the `system.json` file and add the "DE" translation there just like the others  :)

[2021-04-29 08:53] DarkWizarD24 commented on #18
@justinross Can you create an issue where you share a mockup of your goal and we can talk about it. I'd be glad to help you only to work on a sheet that will end up in the main release.

[2021-04-29 13:59] justinross commented on #18
Thanks! That’s my goal, as well. I’ll make a new issue a bit later today and we can go from there.

[2021-04-29 21:59] justinross opened #110 "Character sheet redesign"
As mentioned in the comments of #18, I've started work on a redesign of the character sheet and could use some ... guidance?

I'm actually pretty comfortable with Handlebars/HTML/CSS, and even Javascript. Mostly what I'm looking for is someone to sign off on design decisions (both code and UI-wise), so that the sheet can get merged into the main repo.

Right now, I'm working toward something betwe

[2021-04-30 05:17] #18 closed

[2021-04-30 07:22] DarkWizarD24 commented on #110
Adding the details of the elements is a good idea. It helped the player to be able to use them more. In the other hand, the list of elements do not provid any advantage. Maybe I've miss something but what the point of seeing the list of thing you do not use ?

I have the same critics about the roll20 sheet that is too focused on reproducing the paper one. But on papere, you have a full page to fil

[2021-04-30 12:43] justinross commented on #110
Yeah, true. It might be worth having a “play” sheet and an “editing” sheet. Or just an “editing” flag that can be toggled on and off to hide unnecessary stuff to minimize the sheet.

[2021-04-30 13:05] DarkWizarD24 commented on #110
The current sheet also support adding custom elements like a new background for people that want to personalize the world.

[2021-04-30 13:44] justinross commented on #110
Oh interesting. I’ll check that out.

[2021-04-30 20:57] justinross commented on #110
Okay, total change of plans because you're 100% right that there's no reason to cover up a bunch of the play area to try and emulate the printed character sheets. I'm a little sad about having wasted that time, but also I learned a lot about Foundry, so we'll call it a win.

Anyway, I spent this morning putting together this mockup that I feel ... fairly certain I can pull off (the HTML/CSS, at le

[2021-05-01 15:33] DarkWizarD24 commented on #110
My first impression is very good. Great concept.

My messy feedback :

For the items. With the + button, we can have the way it is where you add only the used item or the way the paper sheet does. I had this kind of changes in mind. You can add a selector for the current load level and the current load level in the "Item" title.

For the coin two icons, one with coins and one with a chest could be

[2021-05-01 15:57] justinross commented on #110
Thanks so much! I definitely forgot the trauma. I was trying to think of icons for trauma and completely forgot to go back and put it in.

I was also trying to think of icons for the vices and struggled a bit, so I went with the generic bed, but I’m sure that’s not insurmountable.

What if there was a tab next to the Whisper “tab” for Downtime activities? Things that don’t need to be front and cen

[2021-05-04 15:53] justinross commented on #110
Making some slow progress:
![image](https://user-images.githubusercontent.com/1120106/117031877-d9ea4880-acb5-11eb-9724-f7b9858d5caf.png)

I noticed Tiny5e uses contenteditable elements and hidden inputs to do inline editing and I love that, so I definitely used it. I also did away with the "0" button for tooth/radio button fields, and instead made them toggleable (if you click on a radio button t

[2021-05-04 16:41] justinross commented on #110
What do you think about giving players a way to easily track session xp triggers? I was just thinking about having trauma as status icons on the character portrait, and how they could click on one to quickly record "suffered from their trauma" for end-of-session tallying. Not super-important, but I know sometimes we'll get to the end of a session and my players will be like "hmm, did I ...?"

[2021-05-04 22:11] justinross commented on #110
(Sorry for the spam)

Got most of the main sheet implemented. Most things that don't require new decisions being made:

![image](https://user-images.githubusercontent.com/1120106/117075202-4a5e8d00-ace9-11eb-9765-aa0c93e6a026.png)

Foundry/wiring-wise, all of the XP markers update properly. Same with the action points. Abilities and Items don't yet. I'm not sure how best to handle that. I imagine

[2021-05-06 17:55] yarrriv opened #113 "Vault upgrades do not work"
The vault crew upgrades don't seem to work.

More genrally I think this is an issue with the "addition" part of callItemLogic; if I generate a similar item with "attribute_change" it does add the required vault spaces.

(when I remove it they don't go away, though, so maybe an issue with undoItemLogic as well)

[2021-05-06 18:07] justinross commented on #38
This doesn't appear to be done yet. I'll add an item type and start putting together a compendium. I'm thinking just a general "NPC" item type with these fields:

- description_short (for the brief blurbs on the character sheet like "a vampire"
- description (if people want to add more info to their own NPCs)
- class_friend (which class's friends list should they show up on. I don't think any show

[2021-05-07 13:58] Mizy78 opened #114 "Band of Blades"
Any posibilities for Band of Blades?

[2021-05-13 01:04] TimPasquini opened #116 "New Faction Tracker Page"
First off, I want to say thank you so much for adding a faction tracker inside the VTT, it's a great improvement to the system!

I'd like to suggest two things:

1. You can assign an image to any faction list you create, but it doesn't seem to update the thumbnail

2. There are currently 8 pips representing faction status. Pip #1 and pip #5 are both "Neutral" status. I would suggest that pip #1 ei

[2021-05-14 03:49] TimPasquini commented on #110
A couple blank boxes you can type into for items might be a good idea for mission critical items or crafted items that aren't going to be in a compendium

[2021-05-14 03:54] justinross commented on #110
Thanks for the input! I went ahead and set it up by automatically adding the items from the compendium at creation, which should make it pretty easy to manually add custom items, too.

The hassle I’m dealing with right now is swapping out items and abilities when the character’s class/playbook gets changed. It doesn’t happen often, of course, but it does happen, and so needs to be addressed. Not a

[2021-05-18 08:04] #109 closed

[2021-05-28 21:12] fpiekert commented on #110
When is this great looking new sheet coming? 😊

[2021-05-28 21:18] justinross commented on #110
Soon, hopefully! I was hoping to add some new updates this week, but I’ve had some home repair projects that have taken priority. Hoping I can pick it up next week. At this point, pretty much everything in the last screenshot works as advertised.

I still need to add Harm, Stress, Vice, and Trauma. Probably around the character portrait. I’m not in love with that part of my initial mock-up.

I’d a

[2021-05-28 22:54] fpiekert commented on #110
Hey, thanks for the fast reply. Really looking forward to this.

Maybe I can be of help with some input.

For the second tab: just naming the activities that are available would be enough in my view.

I also liked the old sheets daggers style markers for stress. I also really liked the healing clock and harm field from the original document. Maybe that could be included? Maybe the second tab is th

[2021-05-28 23:11] justinross commented on #110
I’m sure I’ll move onto the crew sheets once the character sheet is working well.

Vice going with the other bio info is a good idea. Maybe Trauma too.

I’d like all of these to be in the mini version of the sheet for easy access. Anything that is immediately relevant to the score, really.

I’ll probably still use the old sheet’s coin and stress trackers, though they might be hidden behind a mouse

[2021-05-28 23:20] justinross commented on #110
I do think that things like a healing clock, long-term project clocks, buttons for indulging your vice, etc., could all go on the downtime tab.

I think I’ll start with just a list of what downtime activities you can do, then see which of them make sense to automate in some way from there.

[2021-06-01 06:28] r-valyar opened #120 "Update the case of Load dropdown in the inventory section"
Players with attention to detail reported that _light_ and _normal_ entries in the load dropdown menu are not same style as Heavy. Suggestion to match the rest of the sheet is:

- all caps
- first letter capital as in Heavy

![image](https://user-images.githubusercontent.com/63558984/120276574-8cb0c500-c2bb-11eb-9705-9574a34852b3.png)

[2021-06-01 06:40] r-valyar commented on #114
@Mizy78  try here https://github.com/drewg13/foundryvtt-band-of-blades

[2021-06-01 06:40] r-valyar opened #121 "Allow change of Faction actor's icon on the sidebar"
Allow change of Faction actor's icon on the sidebar. Even if the token art is changed, the sidebar is using the default icon.

![image](https://user-images.githubusercontent.com/63558984/120278001-6d1a9c00-c2bd-11eb-9582-7f10ebb22db9.png)

[2021-06-01 15:50] r-valyar opened #122 "Add +3/-3 indicators on the Factions progress trackers"
I propose to add numbers under each faction's progress tracker, to significantly improve the readability.
A mock-up is attached as one picture says more than thousand words:

![image](https://user-images.githubusercontent.com/63558984/120353234-361ea780-c30a-11eb-96e1-3edd6e8fa16a.png)

I am not sure the purpose of the first one.

[2021-06-01 15:52] r-valyar opened #123 "Provide interface or setting to increase the stress boxes"
Crew upgrades allow increase of the maximum stress boxes with 1 or more if house rules are used. I propose to implement interface or setting in the system to allow players to increase their stressboxes with arbitrary value.

Example is how Roll20 addressed this. All of those can be put as settings on system level or per charsheet preferably.
![image](https://user-images.githubusercontent.com/63558

[2021-06-01 17:43] JoystickHero1 opened #124 "All Attribute / Skill Rolls Flagged as Resolve Rolls"
In Blades in the Dark V. 3.0 and 3.1, I have had an issue where any roll I do prints RESOLVE as the roll made to chat. No matter if it is an attribute or skill roll. It does roll the correct number of dice and give the correct roll result for the skill or attribute actually rolled, but it does make it awkward to know what was rolled at any given time. This is with no installed modules and on Found

[2021-06-02 05:21] cmcguigan9 commented on #110
Really liked finding this, as I'm a fan of the roll20 sheet and the "defaults all filled in" philosophy.

But I'm curious: is this branch currently intended to be working with Foundry 0.8.x? I ran into a large number of issues with it running on 0.8.6, and want to make sure it's not something that I inadvertently did.

[2021-06-02 05:26] justinross commented on #110
Hey! The current version is not 0.8.x compatible, but I’ve actually just spent a few hours bringing in most of the changes from 3.0 and 3.1, as well as some cleanup on my new stuff, so it’s very close to working in 0.8.6. I’ll probably commit and push the new version tomorrow.

Though, I would definitely not recommend trying my fork with any data you care about. I haven’t touched migration (becaus

[2021-06-02 06:31] megastruktur commented on #124
@JoystickHero1 hey, please take a look now, should be fixed  :)  If not - please post a comment here!

[2021-06-02 13:49] cmcguigan9 commented on #110
Glad it wasn't me.

And thanks for making this; it's already 75% of what I want the sheet to be.

[2021-06-02 18:34] justinross commented on #110
I've just pushed a new version that should be 0.8.x-compatible (thanks mostly to the great work megastruktur and drewg13 did getting the base system up to speed).

Now back to getting it feature-complete.

[2021-06-02 21:03] JoystickHero1 commented on #124
Looks like it's fixed! Thanks for getting to this quickly!

[2021-06-02 21:03] #124 closed

[2021-06-16 12:04] megastruktur opened #129 "Deprecate Logic Field and migrate Compendium items to use Effects system"
Deprecate Logic Field and migrate Compendium items to use Effects system.

"The FoundryVTT built in system for modifying actor data.  You attach an effect with "data.trauma.max +1" to an item, then when that item is added to an actor, the effect transfers and can be manually activated and deactivated, then gets deleted when the item is removed.  You can modify anything in the template that has a d

[2021-06-16 17:44] megastruktur commented on #122
Can be done via Effects now.

[2021-06-16 17:44] #122 closed

[2021-06-16 17:44] megastruktur commented on #123
Can be done via Effects now.

[2021-06-16 17:44] #123 closed

[2021-06-16 17:45] megastruktur commented on #113
Can be done via Effects now.

[2021-06-16 17:45] #113 closed

[2021-06-16 17:45] #94 closed

[2021-06-22 15:33] Petwag opened #130 "factions details not displayed as a GM"
When opening a Faction item sheet, I don't get all the informations displayed.

I removed that line:
https://github.com/megastruktur/foundryvtt-blades-in-the-dark/blob/master/templates/items/faction.html#L20
And it works correctly.

[2021-06-22 15:45] Petwag commented on #130
The issue seems to be simply a typo

replacing **isGm** by **isGM** fixed it

Should I propose a fix in a Pull request? and if yes, which branch should I target?

[2021-06-22 22:39] justinross commented on #110
Okay, I'm realizing I'm just going to keep building around in circles if I don't set a firm set of features that need to be in and working before I submit my code as a pull request to the main repo.

I'd love some help at this point with testing and coming up with a last few things to make it usable. I have a handful of things that I see that need to get done, but I'm just going to keep refining a

[2021-06-27 21:16] #130 closed

[2021-06-27 21:23] Petwag opened #132 "Css clash between Calendar/Weather and BiTD"
Hi,
I found using Calendar/Weather with the blades in the dark system there is an issue with the css

The normal look should be like this
![css normal](https://user-images.githubusercontent.com/9394037/123559750-e494fb80-d795-11eb-8c6a-a28758d4f13c.JPG)

but it ends up like this
![css clash](https://user-images.githubusercontent.com/9394037/123559754-ec54a000-d795-11eb-953d-517ba94a061c.JPG)

By r

[2021-06-27 21:58] Petwag commented on #132
So after a quick search, I think the issue comes from that piece of css.

![issue](https://user-images.githubusercontent.com/9394037/123560559-df867b00-d79a-11eb-884f-4a863c6fcac1.JPG)

the override of all sections to flex-direction: column affects the modules as well.

[2021-06-27 22:28] Petwag commented on #132
In fact all the * selector are affecting the modules outside blade in the dark system.

Wouldn't it be possible to replace it by .blades-in-the-dark?

I noticed in the cess of the page that it is present for all content related to the module.

By doing so might be enough to encapsulate the styling to the module itself I believe

[2021-07-01 15:53] Chlikaflok commented on #110
I'm starting a Blades in the Dark game soon and I got the system for Foundry and was pretty enthusiastic until I saw the character sheets that needed a bit of love, especially in the pre-filling department (I know the system developer thinks it's better to post-fill, but I like having the base stuff for a playbook and then adding more). This sheet looks more like something I'd use. I'm fairly well

[2021-07-01 15:57] justinross commented on #110
All the playbooks should work in the current version of my fork (make sure you’re on the tidy-sheet-redesign branch). You need to click the lock in the top right to be able to change playbooks, too.

Really, a list of broken things will be helpful at some point. I’m hoping to get it more ready for testing and feedback by next week. It’s just been busy at work lately.

[2021-07-01 17:14] Chlikaflok commented on #110
I can change playbooks fine, but neither the items, the abilities, nor the NPCs change in accordance.

As for broken things, here's a few :
- Dragging abilities from a compendium doesn't add to the list of abilities but rather replaces the whole list with the one ability.
- Adding items from compendium works fine, but deleting them on the sheet doesn't.
- NPCs only have one "neutral" face icon rat

[2021-07-01 18:10] Chlikaflok commented on #110
In FVTT 0.8.8 I get these warnings and errors when using the sheet and switching between playbooks :

![image](https://user-images.githubusercontent.com/5597880/124170964-f3b9c900-da75-11eb-974e-6e482dc4b9cb.png)

[2021-07-01 20:05] justinross commented on #110
Okay so, apparently I hadn't pushed in much longer than I thought. Sorry about that. The playbook issue should be fixed. You'll notice that nothing gets populated for the Hull, Ghost, or Vampire playbooks, as their abilities and items haven't been added to the respective compendia.

Changing playbooks should now auto-populate the abilities, playbook items, acquaintances, and starting attributes (w

[2021-07-01 21:31] Chlikaflok commented on #110
I think the Hull, Ghost and Vampire playbooks are not part of the open licensed part of Blades in the Dark.

The character sheet is way better now, with most things populating correctly. The generic items available to all playbooks aren't populating though and when I add the manually, they are auto-sorted in what appears to be a random manner, not alphabetical, nor in the order they were added. It

[2021-07-01 21:43] justinross commented on #110
Changing the CSS back to fix the stock sheets will be pretty straightforward. I just haven’t done it yet.

I’m not sure if just doing a replacement sheet would be possible, as some of what I’ve done required changes to the data template. I’d have to shift the data storage into flags or something maybe?

Once I get the minimum basic functionality into the sheet, I’ll restore the CSS and try to figu

[2021-07-01 22:42] Petwag opened #133 "Vault Crew Update not working not working for crew"
When I try to insert the crew update Vault to the crew sheet, nothing happends.

I get an error in the console saying that prefix is undefined.
I guess it is coming from here;
https://github.com/megastruktur/foundryvtt-blades-in-the-dark/blob/master/module/blades-helpers.js#L54

But even by removing the prefix I get another error from here:
https://github.com/megastruktur/foundryvtt-blades-in-the-

[2021-07-01 23:07] #133 closed

[2021-07-02 21:25] justinross commented on #110
Okay, just pushed an update that should restore most, if not all of the original CSS for everything outside of the character sheet redesign. At this point, I'm not familiar enough with what the system used to look like, so I'm not sure what doesn't look right. I'll have to set up another foundry install to compare, probably (I did notice the Factions actor sheet doesn't work, but I think that's du

[2021-07-14 02:01] wdracaena commented on #110
Hey, thanks so much for all your work on this! It makes starting a Foundry BITD game look really appealing, and I can't wait to see where this goes.

In terms of really small things currently missing from the sheet, it'd be cool to get a couple of checkboxes for armor uses and load limits, and I kinda miss the little line separating the first point of each of the skills to denote the overall Insig

[2021-07-21 22:28] justinross commented on #132
There are some things that don't get wrapped in a .blades-in-the-dark class, like dice rolls in chat.

In my character sheet redesign fork, I ended up cutting up the SCSS a bit and namespacing as much of it as possible to avoid this sort of thing. I don't have the cycles to port it back to the current version right now, but it was pretty easy to go through and split up the SCSS into specific parts

[2021-07-27 22:01] justinross commented on #110
Okay, I'm working on adding the last few must-haves (IMO, at least). Coin, harm, trauma, and vice all need a place on the mini-sheet, at least.

Coin was the first I got added:

![image](https://user-images.githubusercontent.com/1120106/127232527-e6ef539e-5bcf-42f4-b48a-f3a077c206f0.png)
![image](https://user-images.githubusercontent.com/1120106/127232505-b3858f74-147c-4b5b-b33a-f00da59a8a4e.png)

[2021-07-28 04:04] Chlikaflok commented on #110
Trauma, Harm and Vice are all necessary for a functional sheet, yes. I kind of kit-bashed my own stuff into it just for usability's sake, especially a generic Notes section just to write out all the stuff that's missing :
![image](https://user-images.githubusercontent.com/5597880/127261561-4a28ba27-81e2-47d9-a1b4-df1b7a88dcee.png)

Also, I added a loadout selector dropbox near the items :
![image]

[2021-07-28 17:39] justinross commented on #110
Great idea on the loadout. I'm sure I'll add a misc notes section, too. (maybe an entire tab if I have space, tbh).

Did you change your fonts on purpose, or are mine being weird?

[2021-07-30 12:15] Chlikaflok commented on #110
I had made some changes before you did your CSS fixes, so I decided to keep my stuff until you're further along. Also, my stuff is VERY rickety, and I didn't take time to do the fonts right or give classes to the elements I added.

[2021-07-30 13:30] kdmcdrm opened #135 "Can't edit Goals for Faction"
I created a faction tracker for the status of the factions the party has met, but I don't appear to be able to edit the goals (it has clock and mission). Maybe I'm misunderstanding how this is meant to be used, but I'd like to clear those unless the players find out about them in world.
Also, for new factions I don't seem to be able to populate those fields. I expected maybe to be able to drop a c

[2021-08-04 00:19] justinross commented on #110
Added vice, purveyor, and trauma (hit the plus next to stress to add a trauma, right-click a trauma to delete it).

[2021-08-07 18:35] drewg13 commented on #135
I just submitted a PR that will handle this.  FYI, everything after the Notes portion of the faction item sheet is not visible to players, only GMs.

[2021-08-16 22:00] justinross commented on #110
Okay, I've brought in the latest commits from this repo, so it's currently up to date. I also removed the Downtime tab for now, because it's not ready and not necessary for getting the sheet redesign out.

I *think* I'm done with the character sheet. That is, feature-wise, it's at a point where I'm happy enough with it and think it's usable and doesn't break the rest of the system.

Now, I just ne

[2021-08-16 22:03] justinross commented on #110
Okay, I've brought in the latest commits from this repo, so it's currently up to date. I also removed the Downtime tab for now, because it's not ready and not necessary for getting the sheet redesign out.

Sorry for tagging people then editing. I had a whole post typed out about being done, then realized I forgot about harm. *sigh*

Hopefully that won't be too tough. Still not sure where I'll put

[2021-08-20 14:26] Chlikaflok commented on #110
I think Harm could go on its own tab. It's not referred to as often, and it will probably be kind of bulky so you kind of want to not have it grow the sheet too much.

Speaking of sheet size, I've also been thinking that it might be good for abilities that you don't yet have to only show up when you unlock the sheet, and make the xp triggers section have an expand/contract button to have it show u

[2021-08-20 14:33] justinross commented on #110
I feel pretty comfortable with the small expandable harm pop up. It doesn’t muddy up the form, really, and harm impacts play directly, so I figured it should be in the mini sheet.

I do really like the idea of hiding unused skills. I’ll probably add it as a toggle. Maybe just while the sheet is editable.

The problem is, that doesn’t save much space, since the items and contacts are still there.

[2021-08-23 22:59] justinross commented on #110
Okay, added Harm (I didn't realize your reply before was from before I added the harm popup. Sorry). I'm not in love with the icons, but those are easy to change later.

I also added a markdown-enabled notes tab in place of my former downtime tab. To expand on removing the downtime tab: it was getting to be a bit too much, and I realized there was way too much text that would need translation, so

[2021-08-24 01:12] Chlikaflok commented on #110
This is looking fine!

For what I'm seeing for the traumas, here's what I got on my current world if I replace with your version :
![image](https://user-images.githubusercontent.com/5597880/130539275-37f31d63-ae5d-4de0-8f90-3dc52072093d.png)

and here's how it looks if I create a brand new world with your version, not the same, but still not correct.
![image](https://user-images.githubusercontent.

[2021-08-24 01:16] justinross commented on #110
Possibly, but this world was created before 3.3.0 even. I’ll take a look
tomorrow. Any chance you’d be around to do some screen sharing and help me
troubleshoot?

Have you tried deleting your blades-in-the-dark system and installing mine
fresh?

Any chance you could zip up your system and world folders for me to test?

On Mon, Aug 23, 2021 at 6:12 PM Chlikaflok ***@***.***> wrote:

[2021-08-24 01:38] Chlikaflok commented on #110
I would've got a bit of time to screen share right now, but D&D or some other RPG takes over Tuesday-Friday for me.

Here's my modified/current bitd system and the world I'm playing in right now.
[BITD System Modded by Chlikaflok.zip](https://github.com/megastruktur/foundryvtt-blades-in-the-dark/files/7035831/BITD.System.Modded.by.Chlikaflok.zip)
[BITD World.zip](https://github.com/megastruktur/fo

[2021-08-24 19:20] justinross commented on #110
Awesome, thanks. Just pushed a fix for the trauma display. I was handling trauma in a stupid way (it wasn't showing the error on mine because my code was expecting the trauma.list data to be an object, which it was in my data, but normally it's an array). It's better now.

Looking into the crew sheet issues now.

[2021-08-24 22:08] justinross commented on #110
Crew sheet issues fixed (or mostly, at least). I ended up refactoring a bunch of the trackers into a reusable partial that also enables the radio toggle functionality from the sheet redesign (so you can click an already-selected "tooth" to turn it off, selecting the one below it). This saves having to include the "0" nullifier.

I also updated fonts and fixed some issues I found on the factions sh

[2021-08-24 23:02] justinross commented on #110
You definitely were! I somehow missed that someone else filed an issue for the trauma thing on my repo a few days back, so I would have just not seen that without you. Thanks!

They also asked about making my new character sheet a separate module (rather than an addition to the system). I'm not sure if that's doable, but I'll probably look into it at least.

I just sent a message to the #forged-in

[2021-08-24 23:10] Chlikaflok commented on #110
I just noticed something I had fixed in my version, but you didn't : The 0 cost items in the "common items" section aren't in italics. The only item this applies is the Spiritbane Charm IIRC.

[2021-08-24 23:50] justinross commented on #110
Thanks! Both should be fixed. Feel free to file issues on my repo, too.

[2021-08-28 21:09] brunocalado opened #140 "Vampire/Ghost Translation experience_clues issue"
Hi

You can't translate experience_clues for hull/ghost etc.

Can you create localize it?

tks

[2021-08-29 00:35] brunocalado opened #141 "[BUG] Crew Type"
After imporint a crew type from the compendium using babele to translate I got this error:

![image](https://user-images.githubusercontent.com/4999783/131234352-4d4b475c-4b42-4e09-9773-1663d9da5a6c.png)

[2021-09-09 19:29] ghorbey opened #145 "3.5 manifest still refers to version 3.4"
Hi,

In https://raw.githubusercontent.com/megastruktur/foundryvtt-blades-in-the-dark/3.5/system.json, version is still 3.4.0, not sure it's normal. Version number wasn't updated when branch was merged.

[2021-09-12 16:53] brunocalado opened #146 "SRD entanglement"
Add entanglement outcomes as journal to the compendium.

This could make use of a macro to do the entanglement.

I could modify this macro read the compendium tables that will use the journal.
[code]

[2021-09-12 19:10] LebombJames commented on #146
[Here's a link to the rolltable of entanglements](https://discord.com/channels/170995199584108546/791071185701568512/886664279107989604)

[Here's one to the journal entries (in English, I believe @brunocalado was talking about translating them)](https://discord.com/channels/170995199584108546/791071185701568512/886664281175756840)

[2021-09-14 12:20] megastruktur commented on #145
Thanks, bro. Fixed that one just now in 3.6

[2021-09-14 12:20] #145 closed

[2021-09-15 12:39] brunocalado opened #149 "Add Friendly Information for Noobs"
Hi.

Can you add extra information to the system to make easier for new people?

- [ ] Image01: Roll options
- [ ] Image02: Vice roll with tips. Includes chat tips.
- [ ] Image03: Fortune roll with tips. Includes chat tips.

Image01
![image](https://user-images.githubusercontent.com/4999783/133434460-6f1d4719-fe87-47ad-be76-063004dae118.png)

Image02
![image](https://user-images.githubusercontent.

[2021-09-29 17:35] justinross commented on #70
Added as Abilities in #152. Includes a "class_default" field from #150 to allow for marking abilities as class defaults, like "Ghost Form".

This should make many custom playbooks easier to implement, too.

[2021-10-01 15:36] brunocalado opened #155 "after 3.9 I cant Open a char sheet"
after 3.9 I cant Open a char sheet

![image](https://user-images.githubusercontent.com/4999783/135647959-9604787c-8b6d-40fa-916a-d48c4cf06be8.png)

[2021-10-01 17:08] megastruktur commented on #155
Hey, I'm investigating the issue!

[2021-10-01 17:34] justinross commented on #155
Thanks for the report @brunocalado. I can't seem to reproduce this issue. If you check your file system, does the specified file exist? I don't see any changes in the 3.9 update that should have changed template files/locations, but it doesn't mean I didn't miss something.

Feel free to message me on Discord, too. Might be easier to get to the bottom of this: ThsJstIn#5654

[2021-10-01 18:41] brunocalado commented on #155
I deleted the system from the folder. Installed again. Worked.

Something went wrong with my update.

Tks

[2021-10-01 18:41] #155 closed

[2021-10-01 18:42] justinross commented on #155
Megastruktur had a similar issue. I wonder if GitHub was being weird when you updated. Anyway, glad it’s working for you now. Thanks!

[2021-10-01 18:46] brunocalado opened #156 "Replicate Scum and Villainy Features"
Hi.

Can you replicate some of the nice features from  Scum and Villainy ?

Thank you.

Vice roll:
![image](https://user-images.githubusercontent.com/4999783/135671264-898ca0ea-5bfc-405f-8500-ed1d3b73bccd.png)

Tool tip for everything
![image](https://user-images.githubusercontent.com/4999783/135671309-3f03789e-2a43-4047-b46b-cae0556af89a.png)

Tips for fortune roll
![image](https://user-images.gi

[2021-10-05 01:44] barbrabones opened #157 "[Bug] Crew XP not working"
Since update 3.9 I have not been able to change the XP markers on a Crew Sheet.

[2021-10-06 06:11] megastruktur commented on #157
Fixed in 3.10

[2021-10-06 06:11] #157 closed

[2021-10-06 13:24] ghorbey commented on #145
Same mistake for 3.10, manifest still refers to 3.9.

Classic dev mistake btw. ;-)

[2021-10-06 13:27] megastruktur commented on #145
@ghorbey Damn it. Too many places to change the version. I will need to write a script eventually  :D
Hold on, gonna fix it with 3.11. Thanks  :)

[2021-12-12 19:10] McCurmudgeon opened #162 "Faction Sheet Bug"
When I remove a faction from the faction sheet It removes the faction but then locks me out from making any more changes to the sheet
I can't even open it anymore
The factionsheet is still visible in the side bar but if I click on it nothing happens

Only way to regain access to the sheet is to log out of the world and then log back in

[2021-12-12 19:17] McCurmudgeon opened #163 "Clock Tokens Reset Size"
I wanted to make clock tokens big so they're more visible to players
In general not a problem, but whenever I adjust the clock it resets the size of the linked tokens to 1x1

Not sure if this is a foundry side issue or if it has something to do with the javascript for changing clock images

[2022-01-20 20:19] bobrien87 opened #165 "Multiple Clocks"
### Issue
When more than one clock is open and you adjust any clock other than the first one opened, it updates the first one opened instead of the one that the user clicks on.

### Steps to reproduce
1. Create two or more clocks
2. Open clock_1
3. Open clock_2
4. Update clock_1 (success - updates clock_1)
5. Update clock_2 (failure - updates clock_1)

### Expected behaviour
Updating any clock whe

[2022-01-24 03:00] Arnatious commented on #162
Looks like the offending line is https://github.com/megastruktur/foundryvtt-blades-in-the-dark/blob/9e207a460285907efeb50cff9e22058ba14b5f17/module/blades-faction-sheet.js#L52, when the complete function is called, `this` refers to the actor sheet itself, which is then hidden.

[2022-01-24 04:22] Arnatious commented on #162
Sobran and I figured it out - https://github.com/megastruktur/foundryvtt-blades-in-the-dark/blob/9e207a460285907efeb50cff9e22058ba14b5f17/module/blades-faction-sheet.js#L12 - factions incorrectly have an item class applied.

[2022-01-24 06:46] #165 closed

[2022-01-27 19:39] KarstenW76 opened #168 "Error in the de.json translation file"
Hi, the German translation does not work, but I found the issue, please delete twice ".

In Line 75 the both " " around the word Elite ("Elite" -> Elite) must be deleted, as these are the same as in the syntax, so the syntax gets corrupted.

Thank you!

[2022-01-28 08:50] #168 closed

[2022-01-28 08:50] megastruktur commented on #168
@KarstenW76 thanks, I've fixed that one. Could you please check?  :)

[2022-01-28 19:30] KarstenW76 commented on #168
Done, works, thank you (in the name of a friend, who is playing Blades!

[2022-02-01 07:25] knightje opened #171 "More Translation Options"
Even though there are language files for some of the abilities, there is a lot of stuff that the community can't translate without your help.
This results in having a character sheet that is semi translated and half original English.

For instance the special abilities are stored in \blades-in-the-dark\packs\abilities.db
Is there any way you could make them modfieable so that we can translate them

[2022-02-04 23:40] drewg13 commented on #171
There's no default Foundry way to do this, but you can use a translation module called Babele to create your own translation module for compendium content.

This is the module:
https://gitlab.com/riccisi/foundryvtt-babele

and here's an example of a translation module that uses Babele to translate a similar system:
https://github.com/brunocalado/scum-and-villainy-pt-br

[2022-02-07 09:09] #171 closed

[2022-02-07 09:09] megastruktur commented on #171
We have to wait until Babele becomes part of FoundryVTT core  :(

[2022-03-03 19:16] Petwag opened #174 "Can someone approve the dice icon bug fix?"
Good evening,

apparently someone already fixed that bug the the fix is still pending?
https://github.com/megastruktur/foundryvtt-blades-in-the-dark/pull/172

[2022-03-08 19:32] #162 closed

[2022-03-09 08:20] #174 closed

[2022-05-01 10:40] martinserrus commented on #163
Fixed it on my install, might pull and fix later.

It's due to the size being reapplied (when pushing new image to clock tokens) on every clock sheet submit, you can just delete the width & height from the update object in the clock js file and set it in the prototype token and it seems to work.

[2022-05-07 03:25] AidenMartinAiden commented on #85
As a small comment here, for anyone who would like a quick hack to get a prison claim sheet, I was able to get something "like" the prison claim sheet by creating a new crew type, and putting this text in the description text of the "lair" (removing the title), since the description text processes html. Of course, other parts of the turf, exp clues etc . . . need to be filled in as normal.

<style

[2022-08-18 21:59] Potatronus opened #182 "Additional Crews: Vigilantes, Syndicate, Ladies, Outcasts"
Is there any chance to add this official (i guess I have the official player's help and the sourcebook).

It is in the Polish version of the book:
https://preview.drivethrurpg.com/en/product/320352/ostrza-w-mroku-przybornik-gracza

there are also additional playbooks. If you need I can translate text to English just need someone who will code it :)

Potato

[2022-08-18 22:31] Potatronus commented on #110
@Chlikaflok I'm wondering where i can find your versions of the character/crew sheet? They're updated and working with the current version of the foundry?

[2022-08-18 23:45] Chlikaflok commented on #110
I switched to Justin's version and am holding onto my current Foundry setup to not lose any functionality by updating.

[2022-08-26 10:21] quadur opened #183 "Setting all the radiobuttnos with the proper data-dtype"
I'm hacking through with making a Brinkwood system based on this one and found that using radio buttons for numerical values saves them as strings of those numerals ("1" instead of 1) into the Actors data.
This makes all things unnecessary, i.e., it is impossible to use Active Effects for adding (not overriding) skill dots when choosing classes.

After some searching and a few questions on Discord

[2022-08-29 06:52] megastruktur commented on #183
Hello @quadur , thanks for pointing that out  :)  The system was written 2 years ago and I didn't have a clue about JS and Foundry itself as there was a lack of documentation  :D
I wish I could just change that one to use the proper format, however I'm a bit concerned that it would affect the saved data for people, who already have the system installed. I'll need some time to take a look at this.

[2022-08-29 08:43] quadur commented on #183
I've tested it, unfortunately, you're right I would require a migration update looping through existing actors and parseInt-ing all values (skills, exp, coins ...). If I'm done with the base Brinkwood update before you'll have a moment to address this I'll whip up a pull request.

[2022-10-27 00:13] ben opened #186 "Faction sheet: clicking on second clock doesn't work properly"
The first clock seems to have its wedges associated properly, but the second one is really broken:

https://user-images.githubusercontent.com/39902/198161724-583f1049-2529-4d42-af4e-47db198964ee.mp4

[2022-10-27 00:21] justinross commented on #186
I’ve squashed a few of these bugs. They’re usually caused by using a template-generated id that isn’t unique. I’ll take a look if nobody else gets to it. It’s usually as easy as adding the actor ID to the generated element ID (and making sure you do the same for any associated input elements).

Justin
On Oct 26, 2022 at 5:13 PM -0700, Ben Straub ***@***.***>, wrote: